{% extends "base.html" %}

{% block content %}

<div>

    <h1>
        Liste des catégories
    </h1>

    <ul>
        {% for category in categories_list %}

        <li>
            {{category.name}}
        </li>

        {% endfor %}
    </ul>

</div>

{% endblock %}